<nav class="submenu">
  <ul>
    {{ range .Site.Menus.site }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ if .HasChildren }}
    <ul>
      {{ range .Children }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ if .HasChildren }}
      <ul>
        {{ range .Children }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ if .HasChildren }}
        <ul>
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
          {{ end }}
          {{ end }}
        </ul>
        {{ end }}
        {{ end }}
      </ul>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </ul>
</nav>
